#normal-sortables .postbox {
    float: left;
    width:33%;
}
.myfields input[type="text"]{width:100%!important;}
.content-img{
    float: left;
    overflow: hidden;
    position: relative;
    margin: 0 4px;
    width: 19%;
}
.content-img img{
	width:100%;
}
.remove_img{
	position:absolute;
	right:0px;
	top:0;
	background:rgba(0,0,0,0.7);
	padding:5px;
	color:#fff;
	text-decoration:none;
	cursor:pointer;
}
#normal-sortables #cyb-meta-box_serviciosyamenidades,
#normal-sortables #cyb-meta-box_galeria{
	width:100%;
}