
body{margin:0;}
#top-menu{
	margin: 0!important;
}
#et-top-navigation{
font-family: 'BMWRg', Arial, sans-serif;
}
@mixin arialbold(){
	font-family: arialbold;

};
@mixin ariallight(){
	font-family: arial_mt_stdlight;
};
@mixin arialregular(){
	font-family:arialregular
}
@mixin gothambook(){
	font-family: gotham_bookregular;
}
@mixin gothamHtfbold(){
	font-family:gotham_htfbold;
}
@mixin gothamHtfXligth(){
	font-family:gotham_htfxlight;
}
@mixin gothamHtfligth(){
	font-family:gotham_htflight;
}
@mixin gothamhtfmedium(){
	font-family: gotham_htfmedium;
}
@mixin ipad_responsivo(){
		#ipadimagen{
			 @media only screen and (min-width: 1200px) {
			 	width: 1100px;
			 }
			 @media only screen and (max-width: 1200px) {
			 	width: 640px;
			 }	
			  @media only screen and (max-width: 640px) {
			 	width: 450px;
			}
			@media only screen and (max-width: 450px) {
			 	width: 350px;
			 }
			@media only screen and (max-width: 350px) {
			 	width: 280px;
			 }

		}
		#owl-ipad{
	    @media only screen and (min-width: 1200px) {
	        top: 90px;
		    width: 670px;
		    height: 450px;
		    max-height: 450px;
	    }
	    @media only screen and (max-width: 800px) {
    		top: 55px;
		}
		@media only screen and (max-width: 640px) {
		    width: 300px;
    		height: 240px;
    		max-height: 240px;
    		top: 40px;
		}
		@media only screen and (max-width: 450px) {
	        width: 230px;
		    height: 150px;
		    max-height: 150px;
		    top: 35px;
	  }
	  	@media only screen and (max-width: 350px) {
	    width: 185px;
	    height: 130px;
	    max-height: 130px;
	    top: 26px;
	  }
	  -ms-transform: translateX(-51%);
	  -webkit-transform: translateX(-51%);
	  transform: translateX(-51%);
	  left: 50%;
	  position: absolute;
	  width: 430px;
	  height: 380px;
	  max-height: 380px;
	  top: 56px;	
  }
}
@mixin line(){
	.line{
		    margin: 20px auto 20px auto;
		    display: block;
		    height: 1px;
		    width: 20%;
		    background: #FFFFFF;
		    position: relative;
		}
}
@mixin seccionfrases(){
	  	    text-align: center;
			height: auto;
		    background-repeat: no-repeat;
		    background-size: cover!important;
		    background-position:center center;
		    margin-top: 0%;
		h2{
			line-height: 1;
			@include ariallight();
			color:#fff;
		}
		@media only screen and (max-width: 640px) {
           h2{
           	font-size: 1rem;
			}
			h3{
				font-size: 0.9rem;
			}		
        }
        h3{
			margin-bottom: 0!important;
			@include arialbold();
			color:#fff;
			margin-left: 22%;
    		text-align: center;
		}		
		.over{
			padding:8% 5%;
			width:100%;
			height:100%;
			position:relative;
			background: rgba(74,57,107,0.91);
			background: -moz-linear-gradient(left, rgba(74,57,107,0.91) 0%, rgba(34,60,79,0.91) 0%, rgba(101,224,105,0.91) 0%, rgba(111,174,113,0.91) 49%, rgba(122,122,122,0.51) 100%);
			background: -webkit-gradient(left top, right top, color-stop(0%, rgba(74,57,107,0.91)), color-stop(0%, rgba(34,60,79,0.91)), color-stop(0%, rgba(101,224,105,0.91)), color-stop(49%, rgba(111,174,113,0.91)), color-stop(100%, rgba(122,122,122,0.51)));
			background: -webkit-linear-gradient(left, rgba(74,57,107,0.91) 0%, rgba(34,60,79,0.91) 0%, rgba(101,224,105,0.91) 0%, rgba(111,174,113,0.91) 49%, rgba(122,122,122,0.51) 100%);
			background: -o-linear-gradient(left, rgba(74,57,107,0.91) 0%, rgba(34,60,79,0.91) 0%, rgba(101,224,105,0.91) 0%, rgba(111,174,113,0.91) 49%, rgba(122,122,122,0.51) 100%);
			background: -ms-linear-gradient(left, rgba(74,57,107,0.91) 0%, rgba(34,60,79,0.91) 0%, rgba(101,224,105,0.91) 0%, rgba(111,174,113,0.91) 49%, rgba(122,122,122,0.51) 100%);
			background: linear-gradient(to right, rgba(74,57,107,0.91) 0%, rgba(34,60,79,0.91) 0%, rgba(101,224,105,0.91) 0%, rgba(111,174,113,0.91) 49%, rgba(122,122,122,0.51) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4a396b', endColorstr='#7a7a7a', GradientType=1 );
		}
}
@mixin textosli(){
	.img1{
		width: 59px!important;
	}
	.img2{
		width: 72px!important
	}
	.img3{
		width: 65px!important;
	}
	h6 {
    padding-left: 25px;
    padding-right: 25px;
    letter-spacing: 0px;
    text-align: left;
    @include ariallight();
    font-size: 0.9rem;
    color: #666666;
    line-height: 1.6;
}
h5{
	padding-left: 25px;
    padding-right: 25px;
    text-align: left;
    @include arialregular();
    margin-bottom: 0rem;
    color: #69778C;
}
}
@mixin formSecuno(){
	form{
			    margin-top: 5%!important;
				input{
				@include ariallight();
				-webkit-appearance: none;
				width: 60%;
			    height: 36px;
			    border-top-left-radius: 4px;
			    border-bottom-left-radius: 3px;
			    float: left;
			    font-size: 15px;
				}
				input[type="submit"]{
					font-size: 15px;
					margin-top: 0px!important;
					@include arialbold();
				    background: #4BC57A;
				    border: none;
				    color: #FFFFFF;
				    float: left;
				    width: 40%;
				    border-top-left-radius: 0;
				    border-bottom-left-radius: 0;
				    border-top-right-radius: 3px;
				    border-bottom-right-radius: 3px;
				}
		    }
}
@mixin primeraseccion(){
		background-repeat: no-repeat!important;
        background-size: cover !important;
		height: 90vh;
		background-position: center!important;
		p{
			font-size: 18px;
		@media only screen and (max-width: 640px) {
			font-size: 14px;
		}
		}
		@media only screen and (max-width: 640px) {
		height: 100vh!important;
          	.fondo{
          	transform: translate(-50%,-50%);
          	-webkit-transform: translate(-50%,-50%);
		    left: 50%;
		    top: 50%;
		    height: auto;
		    }
          }
		@include backgrounds();
		@media only screen and (max-width: 800px) {
		   height: 86.2vh;
           h2{
           @include arialbold();
           font-size: 1.4rem!important;
           line-height: 25px!important;
           }
           	h6{
		    	font-size: .8rem!important;
		    }			
        }
		h2{
			@include arialbold();
		    line-height: 37px;
			color:#fff;
			span{
			@include ariallight();
			}
		}
		h6{
		@include arialregular();
		padding-right: 5px;
        padding-left: 5px;
		color:#fff;
		line-height: 17px;
		}
		@include arrow();
		@include line();
		.over{
		    text-align: center;
            padding: 15% 0;
			width:100%;
			height:100%;
			position:relative;
			background: rgba(10,10,10,0.51);
			background: -moz-linear-gradient(top, rgba(10,10,10,0.51) 0%, rgba(39,87,230,0.51) 0%, rgba(10,10,10,0.51) 0%, rgba(122,77,148,1) 100%);
			background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(10,10,10,0.51)), color-stop(0%, rgba(39,87,230,0.51)), color-stop(0%, rgba(10,10,10,0.51)), color-stop(100%, rgba(122,77,148,1)));
			background: -webkit-linear-gradient(top, rgba(10,10,10,0.51) 0%, rgba(39,87,230,0.51) 0%, rgba(10,10,10,0.51) 0%, rgba(122,77,148,1) 100%);
			background: -o-linear-gradient(top, rgba(10,10,10,0.51) 0%, rgba(39,87,230,0.51) 0%, rgba(10,10,10,0.51) 0%, rgba(122,77,148,1) 100%);
			background: -ms-linear-gradient(top, rgba(10,10,10,0.51) 0%, rgba(39,87,230,0.51) 0%, rgba(10,10,10,0.51) 0%, rgba(122,77,148,1) 100%);
			background: linear-gradient(to bottom, rgba(10,10,10,0.51) 0%, rgba(39,87,230,0.51) 0%, rgba(10,10,10,0.51) 0%, rgba(122,77,148,1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a0a0a', endColorstr='#7a4d94', GradientType=0 );
		  	#container_text{
		    	padding: 3%;
		    	@media only screen and (min-width: 800px) {
		    	width: 85%;
			    position: absolute;
			    transform: translate(-50%, -50%);
			    -ms-transform: translate(-50%, -50%);
			    -webkit-transform:translate(-50%, -50%);
			    left: 50%;
			    top: 50%;		
                }	
			}
			form{
			    margin-top: 5%!important;
				input{
				@include ariallight();
				-webkit-appearance: none;
				width: 60%;
			    height: 36px;
			    border-top-left-radius: 4px;
			    border-bottom-left-radius: 3px;
			    float: left;
			    font-size: 15px;
				}
				input[type="submit"]{
					font-size: 15px;
					margin-top: 0px!important;
					@include arialbold();
				    background: #4BC57A;
				    border: none;
				    color: #FFFFFF;
				    float: left;
				    width: 40%;
				    border-top-left-radius: 0;
				    border-bottom-left-radius: 0;
				    border-top-right-radius: 3px;
				    border-bottom-right-radius: 3px;
				}
		    }
		}
}
@mixin arrow(){
.arrow{
		-webkit-animation-duration: 1.2s;
	    -moz-animation-duration: 1.2s;
	    animation-duration: 1.2s;
	    -webkit-animation-fill-mode: both;
	    -moz-animation-fill-mode: both;
	    animation-fill-mode: both;
	    -webkit-animation-iteration-count: infinite;
	    animation-iteration-count: infinite;
	    -webkit-animation-name: bounce;
	    animation-name: bounce;
	    cursor: pointer;
	    -webkit-transform: translateX(-50%)!important;
	    -ms-transform: translateX(-50%)!important;
	    transform: translateX(-50%)!important;
	    position: absolute;
	    bottom: 10%;
	    height: 20px;
	    left: 48%!important;
	    @media only screen and (max-width: 400px) {
	    bottom: 3%;
	    left:45%!important;	
	    }
}
	@-webkit-keyframes bounce {
	  0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(-50%);
	  transform: translateY(-50%);}
	  40% {-webkit-transform: translateY(-60%);
	  transform: translateY(-60%);}
	  60% {-webkit-transform: translateY(-40%);
	  transform: translateY(-40%);}
	}

	@keyframes bounce {
	  0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(-50%);
	  	transform: translateY(-50%);}
	  40% {-webkit-transform: translateY(-70%);
	  	transform: translateY(-70%);}
	  60% {-webkit-transform: translateY(-40%);
	  	transform: translateY(-40%);}
	}
}

@mixin backgrounds(){
	background-repeat:no-repeat;
	background-size:cover;
	background-attachment:fixed;
}
@mixin textazul(){
color:#343B45;	
}
@mixin textgris(){
color:#69778C;	
}
@mixin form(){
padding-bottom: 3%;
background:#E4EAF0;
height: 100%;
text-align:center;
		h3{
		@include arialbold();
		margin-top: 0;
		padding-top: 4%;
		color:#343B45;
		}
		h6{
		@include arialregular();
		color:#69778C;
		}
		h6.sub {
		    font-size: 14px;
		}
		@media only screen and (max-width: 640px) {
           h3{
           	font-size: 1rem;
			}
			h6.sub {
		    font-size: 62%;
		    padding: 0 9%;
		    }	
		}
		fieldset{
    	margin-bottom: 0;
	    border: none;
	    padding: 0rem;
		}
		.ajax-loader{
		display: none;
		}
		@media only screen and (max-width: 640px) {
	    	.sendform{
	    		font-size:  110%!important;
	    	}
	    }
		.sendform{
		    @include arialbold();
			-webkit-appearance: none!important;
		    width: 100%!important;
		    //margin-bottom: 3%!important;
		    border-radius: 3px!important;
		    text-align: center;
		    background: #55D97E!important;
		    height: 33px!important;
		    color: #FFFFFF;
		    position: relative!important;
		    font-size: 21px;
		    border: none!important;
		}		
		input{
			 font-size: 15px;
			 @include arialregular();
		     color:#999999;
		     height: 31px;
             border-radius: 4px;
		}
		input::-webkit-input-placeholder {
		   color:#999999;
		}

		input:-moz-placeholder { /* Firefox 18- */
		   color:#999999;  
		}

		input::-moz-placeholder {  /* Firefox 19+ */
		   color:#999999;  
		}

		input:-ms-input-placeholder {  
		   color:#999999;  
		}
}
@mixin rigthR(){
0% {
			    opacity: 1;    
			    -ms-transform: translateX(-50%) scale(1);
			    -webkit-transform: translateX(-50%) scale(1);
			    transform: translateX(-50%) scale(1);
			    z-index: 90;
			  }
             30%{
                opacity:1;		            
			    -ms-transform: translateX(10%) scale(0.94);
			    -webkit-transform: translateX(10%) scale(0.94);
			    transform: translateX(10%) scale(0.94);
			    z-index: 50;
            }
			100% {
				opacity: .4;
				-ms-transform: translateX(0%) scale(0.9);
				-webkit-transform: translateX(0%) scale(0.9);
				transform: translateX(0%) scale(0.9);
				z-index: 0;
			}	
}
@mixin rigthL(){
	0% {
			    opacity: .4;
			    -ms-transform: translateX(0%) scale(0.9);
			    -webkit-transform: translateX(0%) scale(0.9);
			    transform: translateX(0%) scale(0.9);
			    z-index: 0;
			}
			100% {
			   opacity: .4;
		       z-index: 0;
		       -ms-transform: translateX(-100%) scale(0.9);
		       -webkit-transform: translateX(-100%) scale(0.9);
		       transform: translateX(-100%) scale(0.9);
			}
}
@mixin rightC(){
	0% {
			   opacity: .4;
		       z-index: 0;
		       -ms-transform: translateX(-100%) scale(0.9);
		       -webkit-transform: translateX(-100%) scale(0.9);
		       transform: translateX(-100%) scale(0.9);
			}
            20%{
               opacity:1;	
		       z-index: 0;
		       -ms-transform: translateX(-110%) scale(0.94);
		       -webkit-transform: translateX(-110%) scale(0.94);
		       transform: translateX(-110%) scale(0.94);
		       z-index: 50;
            }
			100% {
			    -ms-transform: translateX(-50%);
			    -webkit-transform: translateX(-50%);
			    transform: translateX(-50%);
			    z-index: 90;
			}
}
@mixin leftL(){
	0% {
			    opacity: 1;    
			    -ms-transform: translateX(-50%) scale(1);
			    -webkit-transform: translateX(-50%) scale(1);
			    transform: translateX(-50%) scale(1);
			    z-index: 90;
			}
             30%{		
               opacity: 1;
		       z-index: 0;
		       -ms-transform: translateX(-110%) scale(0.94);
		       -webkit-transform: translateX(-110%) scale(0.94);
		       transform: translateX(-110%) scale(0.94);
		       z-index: 50;
            }
			100% {
			   opacity: .4;
		       z-index: 0;
		       -ms-transform: translateX(-100%) scale(0.9);
		       -webkit-transform: translateX(-100%) scale(0.9);
		       transform: translateX(-100%) scale(0.9);
			}
}
@mixin LeftR(){
	0% {
			   opacity: .4;
		       z-index: 0;
		       -ms-transform: translateX(-100%) scale(0.9);
		       -webkit-transform: translateX(-100%) scale(0.9);
		       transform: translateX(-100%) scale(0.9);
			}
			100% {
			   opacity: .4;
			   -ms-transform: translateX(0%) scale(0.9);
			   -webkit-transform: translateX(0%) scale(0.9);
			   transform: translateX(0%) scale(0.9);
			   z-index: 0;
			}
}
@mixin leftC(){
	0% {
			   opacity: .4;
			   -ms-transform: translateX(0%) scale(0.9);
			   -webkit-transform: translateX(0%) scale(0.9);
			   transform: translateX(0%) scale(0.9);
			   z-index: 0;
			}
            20%{		
		       opacity: 1;
			   -ms-transform: translateX(10%) scale(0.94);
			   -webkit-transform: translateX(10%) scale(0.94);
			   transform: translateX(10%) scale(0.94);
			   z-index: 0;
            }
			100% {
			    opacity: 1;
			    -ms-transform: translateX(-50%);
			    -webkit-transform: translateX(-50%);
			    transform: translateX(-50%);
			    z-index: 90;
			}
}
//
.show_mas_info{
	// display: block!important;
    opacity: 1!important;
}
.mas_info{
	-webkit-transition:all 500ms;
	transition:all 500ms;
	opacity:0;
	// display:none;
	border-radius: 13px;
    text-align: center;
    padding: 10px 15px;
    color: white;
    right: 65px;
    position: fixed;
    background: #C1044A;
    bottom: 15px;
    z-index: 888;
    	p{
    	font-family: arialbold;
	    margin: 0;
	    font-size: 13px;
	    line-height: 10px;
    	}
}
.container_mas{
	-webkit-transition:all 500ms;
	transition:all 500ms;
	opacity: .6;
    //background: #4E316F;
    border-radius: 4px;
    padding: 10px;
    position: fixed;
    height: 30px;
    bottom: 10px;
    right: 10px;
    z-index: 888;
    width: 50px
}
.arrow_mas{
	-webkit-animation-duration: 1.2s;
    -moz-animation-duration: 1.2s;
    animation-duration: 1.2s;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: bounce;
    animation-name: bounce;
    cursor: pointer;
}
	@-webkit-keyframes bounce {
	  0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(-50%);
	  transform: translateY(-50%);}
	  40% {-webkit-transform: translateY(-60%);
	  transform: translateY(-60%);}
	  60% {-webkit-transform: translateY(-40%);
	  transform: translateY(-40%);}
	}

	@keyframes bounce {
	  0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(-50%);
	  	transform: translateY(-50%);}
	  40% {-webkit-transform: translateY(-70%);
	  	transform: translateY(-70%);}
	  60% {-webkit-transform: translateY(-40%);
	  	transform: translateY(-40%);}
	}
//customer pulse
.productosSeccion4{
	section{
	position:relative;
	height:100vh;
	}
	section:nth-of-type(1){
	background:url(seccion4.jpg);
	@include primeraseccion();
	}
	section:nth-of-type(2){
    padding: 5% 0;
    padding-bottom: 0;
    text-align: center;
    height: auto;
    #owl-ipad .item img{
    display: block;
    width: 100%;
    height: auto;
	}
	@include ipad_responsivo();
    .link{
			color: #07A207;
		 }
    h3{
      @include arialbold();
      @include textazul();
    }
    @media only screen and (max-width: 800px) {
    	h3{
    		font-size: 1rem;
    	}
	    .over{
	    position: relative!important;
	    }
    }
    .over{
    	padding-top: 0!important;
		padding: 1% 6%;
		bottom: 0;
	    position: relative;
	    width: 100%;
	    ul{
	    	li h5{
	    	padding-left: 20px;
  			  padding-right: 20px;
	    	text-align: left;
	    	    @include arialregular();
	    		@include textgris();
	    	}
	    	.sub{
	    	text-align: left;
	    	   @include arialregular();
	    	   font-size: 0.9rem;	
	    	}
	    	@media only screen and (max-width: 640px) {
		    	li h5{
		    	 font-size: 1rem;
		    	}
            }
	    }
	}
}
	section:nth-of-type(3){
     	    text-align: center;
			height: auto;
		    background: url(seccion4_imagen4.jpg);
		    background-repeat: no-repeat;
		    background-size: cover;
		    background-position: center;
		    margin-top: 0%;
			
		.over{
			padding:8% 0;
			width:100%;
			height:100%;
			position:relative;
			background: rgba(74,57,107,0.91);
			background: -moz-linear-gradient(left, rgba(74,57,107,0.91) 0%, rgba(34,60,79,0.91) 0%, rgba(101,224,105,0.91) 0%, rgba(111,174,113,0.91) 49%, rgba(122,122,122,0.51) 100%);
			background: -webkit-gradient(left top, right top, color-stop(0%, rgba(74,57,107,0.91)), color-stop(0%, rgba(34,60,79,0.91)), color-stop(0%, rgba(101,224,105,0.91)), color-stop(49%, rgba(111,174,113,0.91)), color-stop(100%, rgba(122,122,122,0.51)));
			background: -webkit-linear-gradient(left, rgba(74,57,107,0.91) 0%, rgba(34,60,79,0.91) 0%, rgba(101,224,105,0.91) 0%, rgba(111,174,113,0.91) 49%, rgba(122,122,122,0.51) 100%);
			background: -o-linear-gradient(left, rgba(74,57,107,0.91) 0%, rgba(34,60,79,0.91) 0%, rgba(101,224,105,0.91) 0%, rgba(111,174,113,0.91) 49%, rgba(122,122,122,0.51) 100%);
			background: -ms-linear-gradient(left, rgba(74,57,107,0.91) 0%, rgba(34,60,79,0.91) 0%, rgba(101,224,105,0.91) 0%, rgba(111,174,113,0.91) 49%, rgba(122,122,122,0.51) 100%);
			background: linear-gradient(to right, rgba(74,57,107,0.91) 0%, rgba(34,60,79,0.91) 0%, rgba(101,224,105,0.91) 0%, rgba(111,174,113,0.91) 49%, rgba(122,122,122,0.51) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4a396b', endColorstr='#7a7a7a', GradientType=1 );
			    h2{
			    @include ariallight();
				color:#fff;
				}
				h4{
					@include arialbold();
					color:#fff;
					margin-left: 22%;
		    		text-align: center;
				}
				@media only screen and (max-width: 640px) {
			      	h2{
			         font-size: 0.8rem;
				  	}
				 	 h4{
			     	    font-size: 0.6rem;
				  	}			
		     	}			
			}
	}
	section:nth-of-type(4){
	text-align: center;
    height: auto;
    padding: 50px 8%;
	h3{
	@include arialbold();
	@include textazul();
	}
	#custumer{
		@include arialbold();
		color: #513C81;
	}
	@media only screen and (max-width: 640px) {
	    h3{
	    font-size: 1rem;	
	    }	
	    h4{
	    	 font-size: .9rem;	
	    }	
	}
	ul{ 
	margin-top: 2%!important;
	margin: 0;	
		li img{
		border-radius: 100%;
        width: 50%;
        height: 100%;
        border:3px solid #513C81;
		}
	}
    }
    section:nth-of-type(5){
	@include form();   
	}
}
//evaluacion 360
.productosSeccion3{
	section{
	position:relative;
	height:100vh;
	}
	section:nth-of-type(1){
	background:url(seccion3.jpg);
	@include primeraseccion();
	}
	section:nth-of-type(2){
	@media only screen and (max-width: 640px) {
	height: auto!important;
	}
	text-align: center;
	background: url(seccion3_imagen1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
		h3{
			@include arialbold();
			margin: 0;
			padding-top: 5%;
			@include textazul();
		}
		@media only screen and (max-width: 640px) {
	    	h3{
	    	 font-size: 1rem;	
	    	}
	    	.over{
	    	position: relative!important;
	    	}
	    }
		.over{
		padding: 1% 6%;
		  border-bottom: 5px solid #4BC57A;
		bottom: 0;
	    position: absolute;
	    background: rgba(52, 59, 69, 0.65);
	    width: 100%;
	    ul{
	    	h3{
	    	@include arialbold();
	    	color:white;
	    	}
	    	.check{
	    		padding-left: 0!important;
             	padding: 0 7px 4px 5px;
			    width: 25px;
	    	}
	    	li h5{
	    	padding-left: 20px;
    		padding-right: 20px;
	    	text-align: left;
            @include arialregular();
	    	color:white;
	    	}
	    	.sub{
	    	text-align: left;
	    	@include arialregular();
	    	   font-size: 0.9rem;	
	    	}
	    	@media only screen and (max-width: 640px) {
	    	li h5{
	    	 font-size: 1rem;	
	    	}
            }
	    }
		}
    }
    section:nth-of-type(3){
    	padding: 5% 0;
    	text-align: center;
    	height: auto;
    	background: #513C81;
       h4{
        @include arialbold();
       	margin-bottom: 3%!important;
       	color:white;
       	margin: 0;
       }
       ul{
       	margin: 0;
       	margin-left: 30%!important;
       	  li{
       	  	@include ariallight();
       	  	color:white;
       	  	text-align: left;
	       	  	img{
				    padding: 0 7px 4px 5px;
				    width: 25px;
	       	  	}
       	  }
       }
       @media only screen and (max-width: 640px) {
       ul{
       margin: 0;
       margin-left: 0%!important;
       }
    }
}
     section:nth-of-type(4){
     background: url(seccion3_imagen2.png);
     @include seccionfrases();
	}
	section:nth-of-type(5){
		height: 100%;
		  #owl-ipad .item img{
	    display: block;
	    width: 100%;
	    height: auto;
		}
		#owl-ipad{
		//  @media only screen and (min-width: 2510px) {
	 //       top:24.5%!important;	 	
		//  }	
		//  @media only screen and (min-width: 2080px) {
	 //       top:23.5%!important;	 	
		//  }
	 //    @media only screen and (min-width: 1485px) {
	 //    top:22.5%;
	 //    width: 1000px;
	 //    }
		// @media only screen and (max-width: 640px) {
	 //    top: 17.7%;
		// }
		@media only screen and (max-width: 446px) {
	     top: 19.1%;
		} 
		  -ms-transform: translateX(-51.5%);
		  -webkit-transform: translateX(-51.5%);
		  transform: translateX(-51.5%);
		  top: 18.1%;
		  left: 50%;
		  position: absolute;
		  height: 100%;
		  width: 64.5%;
		}
		.image{
		padding-top: 2%!important;
		padding: 0;
		}
		.text{
		padding-top: 5%;	
		}
		h3{
			@include arialbold();
			color:#524187;
		}
		h6{
			@include arialregular();
			@include textgris();
		}
		@media only screen and (max-width: 640px) {
           h3{
           	font-size: .8rem;
			}	
			 h6{
           	font-size: 0.6rem;
			}		
        }
	}
	section:nth-of-type(6){
     @include form();
	}
}

// scorecord
.productosSeccion2{
	section{
	position:relative;
	height:100vh;
	}
	section:nth-of-type(1){
	background:url(seccion1.jpg);
	@include primeraseccion();
	}
	section:nth-of-type(2){
	  margin-top: 7%;	
      position: relative;
      height: 100%;
      background: white;
      text-align: center;
      #owl-ipad .item img{
	    display: block;
	    width: 100%;
	    height: auto;
		}
		@include ipad_responsivo();
          h3{
          @include textazul();
           @include arialbold();
          }
          @include textosli();
	      // h5{
	      // @include arialregular();
	      // margin-bottom: 0rem;
	      // @include textgris();	
	      // }
	      // h6{
	      // 	@include arialregular();
	      // 	font-size: 0.8rem;
	      // 	color:#666666;
	      // 	line-height: 2;
	      //}
	      	@media only screen and (max-width: 640px) {
           h3{
           	@include textazul();
           	@include arialbold();
           	font-size: 0.9rem;
			}			
         }	
	      ul{
	      	margin: 0 2%;
	      	@media only screen and (max-width: 800px) {
	      	margin: 0 1.5%;	
	      	}
	      	li {
                .image {
                margin-bottom: 25px;
	      		width: 25%;
	      	   }
	      	 }
	      }
	      .showimage{
	      	height: 100%;
	      	width: 75%;
	      }
	}
	section:nth-of-type(3){
		    text-align: center;
			height: auto;
			background-color:#513C81; 
		    margin-top: 0%;
		    padding: 3% 0;
		 .item{
		 	padding: 0 20%;
		 }
		h3{
			@include ariallight();
			color:#FFFFFF;
		}
		h4{
			@include arialbold();
			color:#FFFFFF;
    		text-align: center;
		}
		@media only screen and (max-width: 800px){
        .item{
		 	padding: 0 5%;
		   }
		}
		@media only screen and (max-width: 640px) {
           h3{
           	font-size: 1rem;
			}
			h4{
            font-size: .8rem;
			}			
        }	
		.owl-dot.active span, .owl-dot:hover span {
			background: #55D97E;
		}	
		@media only screen and (max-width: 640px) {
           h3{
           	font-size: .8rem;
			}
			h4{
            font-size: .6rem;
			}		
        }	
    }
	section:nth-of-type(4){
		height: 100%;
	    text-align: center;
	    margin-top: 5%;
	    margin-bottom: 25px;
		 h4{
		  @include arialbold();
		  line-height: 90%;
	      color:#343B45;
	      }
	      h3{
	      @include arialbold();
	      color:#513C81;
	      font-size: 1.3rem;
	      }
	      h6{
	      @include arialregular();
	      padding-bottom: 3%;
	      @include textgris();
	      }
	      @media only screen and (max-width: 800px) {
	      h4{
	      	line-height: 100%;
            font-size: 1rem;
			}
		  h3{
		  font-size: 0.9rem;
		  }	
           h6{
           	padding: 0 7px;
           	font-size: .8rem;
			}	
          }	
	      ul{
	      margin: 0 12%;
	      	li{
	      	   img{
	      	   	width: 65%;
	      	   }	
	      	}
	      }
	}
	section:nth-of-type(5){
	    @include form();
	}
}
// clima_organizacional
.clima_organizacional{
	section{
	position:relative;
	height:100vh;
	}
	section:nth-of-type(1){
	background:url(imgs_cambios_2016/clima_fondo.jpg);
	@include primeraseccion();
	}
	section:nth-of-type(2){
	  margin-top: 5%;	
      position: relative;
      height: 100%;
      background: white;
      text-align: center;
      #containerCa img{
      	@media only screen and (min-width: 1300px) {
      	   width: 1200px!important;
    		max-width: 1200px!important;
      	}
      }
      #owl-ipad .item img{
	    display: block;
	    width: 100%;
	    height: auto;
		}
		#ipadimagen{
			 @media only screen and (min-width: 1200px) {
			 	width: 1100px;
			 }	
			  @media only screen and (max-width: 640px) {
			 	width: 450px;
			 }
			   @media only screen and (max-width: 640px) {
			 	width: 340px;
			 }		
		}
		#owl-ipad{
	    @media only screen and (min-width: 1200px) {
	        top: 16.5% !important;
		    width: 750px;
		    height: 650px;
		    max-height: 650px;
	    }
		@media only screen and (max-width: 640px) {
		    width: 300px;
   			height: 240px;
		    max-height: 240px;
		    top: 9.2%;
		}
		@media only screen and (max-width: 450px) {
	    width: 220px;
   		height: 150px;
		max-height:150px;
		top: 7.5%;
	  } 
	  -ms-transform: translateX(-51%);
	  -webkit-transform: translateX(-51%);
	  transform: translateX(-51%);
	   top: 16.5%;
	  left: 50%;
	  position: absolute;
	  height: 100%;
	  width: 67%;
	}
	.check{
   	padding-right: 5px;
    padding-bottom: 3px;
    }
          h3{
          @include textazul();
           @include arialbold();
          }
	      h5{
	      text-align: left;
	      padding-right: 20px;
	      padding-left:20px;
	      @include arialregular();
	      margin-bottom: 0rem;
	      @include textgris();	
	      }
	      h6{
	      	 padding-right: 20px;
	      padding-left:20px;
	      text-align: left;
	      	@include arialregular();
	      	font-size: 0.9rem;
	      	color:#666666;
	      	line-height: 2;
	      }
	      	@media only screen and (max-width: 640px) {
           h3{
           	@include textazul();
           	@include arialbold();
           	font-size: 0.9rem;
			}			
         }	
	      ul{
	      	margin: 0 2%;
	      	margin-bottom: 20px!important;
	      	@media only screen and (max-width: 800px) {
	      	margin: 0 1.5%;	
	      	}
	      	li {
                .image {
	      		width: 25%;
	      	   }
	      	 }
	      }
	      .showimage{
	      	height: 100%;
	      	width: 75%;
	      }
	}
	section:nth-of-type(3){
     background: url(http://www.simetrical.com/wp-content/themes/Divi/simetrical_qualium/assets/imgs_cambios_2016/sol.jpg);
     @include seccionfrases();
		   
	}
	section:nth-of-type(4){
	text-align: center;
    height: auto;
    padding: 50px 8%;
	h3{
	@include arialbold();
	@include textazul();
	}
	#titulo{
		@include arialbold();
		color: #513C81;
	}
	.subtitulo{
	margin-bottom: 40px;
	@include arialregular();
	color:#697780;	
	}
	@media only screen and (max-width: 640px) {
	    h3{
	    font-size: 1rem;	
	    }	
	    h4{
	    	 font-size: .9rem;	
	    }	
	}
	ul{ 
	margin-top: 2%!important;
	margin: 0;	
		li img{
		margin-bottom: 10px;
		border-radius: 100%;
        width: 70%;
        height: 100%;
        border:3px solid #513C81;
		}
	}
    }
	section:nth-of-type(5){
	    @include form();
	}
}
//clima_organizacional
// operation_board
.operation_board{
	section{
	position:relative;
	height:100vh;
	}
	section:nth-of-type(1){
	background:url(imgs_cambios_2016/fondo_operation.jpg);
	@include primeraseccion();
	}
	section:nth-of-type(2){
	 margin-top: 5%;	
      position: relative;
      height: 100%;
      background: white;
      text-align: center;
      #owl-ipad .item img{
	    display: block;
	    width: 100%;
	    height: auto;
		}
	@include ipad_responsivo();
	.imagen{
		 @media only screen and (min-width: 1400px) {
	       width: 1200px; 	
		 }
	}
	.check{
   	padding-right: 5px;
    padding-bottom: 3px;
    }
        h3{
           padding-bottom: 20px;
           text-transform: uppercase;
          @include textazul();
           @include arialbold();
        }
	      h5{
	      text-align: left;
	      padding-right:20px;
	      padding-left:20px;
	      @include arialregular();
	      margin-bottom: 0rem;
	      @include textgris();	
	      }
	      h6{
	      padding-right:20px;
	      padding-left:20px;
	      	text-align: left;
	      	@include arialregular();
	      	font-size: 0.9rem;
	      	color:#666666;
	      	line-height: 2;
	      }
	      	@media only screen and (max-width: 640px) {
           h3{
           	@include textazul();
           	@include arialbold();
           	font-size: 0.9rem;
			}			
         }	
	      ul{
	      	margin: 10px 2%;
	      	@media only screen and (max-width: 800px) {
	      	margin: 10px 1.5%;	
	      	}
	      	li {
                .image {
	      		width: 25%;
	      	   }
	      	 }
	      }
	      .showimage{
	      	height: 100%;
	      	width: 75%;
	      }
    }
	section:nth-of-type(3){
	background: url(http://www.simetrical.com/wp-content/themes/Divi/simetrical_qualium/assets/imgs_cambios_2016/sol.jpg);
    @include seccionfrases();
	}
	section:nth-of-type(4){
	text-align: center;
    height: auto;
    padding: 50px 8%;
	h3{
	@include arialbold();
	@include textazul();
	}
	@media only screen and (min-width: 640px) {	
		.texto2{
			text-align: -webkit-left;
			padding-top: 11%;
		}
	}
	#titulo{
		margin: 0;
		@include arialbold();
		color: #513C81;
	}
	#titulo2{
		margin: 0;
		@include ariallight();
		color: #343B45;
		font-weight: 800;
	}
	@media only screen and (max-width: 640px) {
	    h3{
	    font-size: 1rem;	
	    }	
	    h4{
	    font-size: 1.2rem;
	    }	
	}
	ul{ 
	margin-top: 2%!important;
	margin: 0;
	@media only screen and (min-width: 640px) {	
	text-align: right;
	}
		li img{
		border-radius: 100%;
        width: 70%;
        height: 100%;
        border:3px solid #513C81;
		}
	}
    }
	section:nth-of-type(5){
	    @include form();
	}
}
//operation_board
// customer_watch
.customer_watch{
	section{
	position:relative;
	height:100vh;
	}
	section:nth-of-type(1){
	background:url(imgs_cambios_2016/fondo_customer_watch.jpg);
	@include primeraseccion();
	}
section:nth-of-type(2){
text-align: center;
	@media only screen and (max-width: 640px) {
	height: auto!important;
	}
    .imagen_fondo{
	background: url(http://www.simetrical.com/wp-content/themes/Divi/simetrical_qualium/assets/imgs_cambios_2016/customer_watch_img.jpg);
    background-repeat: no-repeat;
    border-top: 4px solid #55B77E;
	text-align: center;
    background-size: cover;
    background-position: center center;
    height: 100%;
    width: 100%;
    position:absolute;

    }
		h3{
			@include arialbold();
			margin: 0;
			padding-top: 45px;
			@include textazul();
		}
		@media only screen and (max-width: 640px) {
	    	h3{
	    	 font-size: 1rem;	
	    	}
	    	.over{
	    	position: relative!important;
	    	}
	    }
		.over{
		padding: 1% 6%;
		  border-bottom: 5px solid #4BC57A;
		bottom: 0;
	    position: absolute;
	    background: rgba(52, 59, 69, 0.65);
	    width: 100%;
	    ul {
	    	h3{
	    	@include arialbold();
	    	color:white;
	    	}
	    	.check{
	    		padding-left:0!important;
             	padding: 0 7px 4px 5px;
			    width: 25px;
	    	}
	    	li{
	    	padding-top: 15px;
		    	h5{
	            @include arialregular();
		    	color:white;
		    	}
		    	.sub{
		    	padding-left:20px;
		    	padding-right:20px;
		    	text-align: left;
		    	@include arialregular();
		    	   font-size: 0.9rem;	
		    	}
		    	@media only screen and (max-width: 640px) {
		    	h5{
		    	 font-size: .9rem;	
		    	}
	            }
	    	}
	    }
		}
    }
	section:nth-of-type(3){
	background: url(http://www.simetrical.com/wp-content/themes/Divi/simetrical_qualium/assets/imgs_cambios_2016/airport.jpg);
	@include seccionfrases();
	}
	section:nth-of-type(4){
	text-align: center;
    height: auto;
    padding: 50px 8%;
	h3{
	@include arialbold();
	@include textazul();
	}
	@media only screen and (min-width: 640px) {	
		.texto2{
			text-align: -webkit-left;
			padding-top: 11%;
		}
	}
	#titulo{
		margin: 0;
		@include arialbold();
		color: #513C81;
	}
	#titulo2{
		margin: 0;
		@include ariallight();
		color: #343B45;
		font-weight: 800;
	}
	@media only screen and (max-width: 640px) {
	    h3{
	    font-size: 1rem;	
	    }	
	    h4{
	    font-size: 1.2rem;
	    }	
	}
	ul{ 
	margin-top: 2%!important;
	margin: 0;
	@media only screen and (min-width: 640px) {	
	text-align: right;
	}
		li img{
		border-radius: 100%;
        width: 70%;
        height: 100%;
        border:3px solid #513C81;
		}
	}
    }
	section:nth-of-type(5){
	    @include form();
	}
}
//customer_watch
// buzon_anonimo
.buzon_anonimo{
	section{
	position:relative;
	height:100vh;
	}
	section:nth-of-type(1){
	background:url(imagenportadabuzon.jpg);
	@include primeraseccion();
	}
section:nth-of-type(2){
text-align: center;
	@media only screen and (max-width: 640px) {
	height: auto!important;
	}
    .imagen_fondo{
	background: url(http://www.simetrical.com/wp-content/themes/Divi/simetrical_qualium/assets/imgs_cambios_2016/Buzonanonimo.jpg);
    background-repeat: no-repeat;
    border-top: 4px solid #55B77E;
	text-align: center;
    background-size: cover;
    background-position: center center;
    height: 100%;
    width: 100%;
    position:absolute;

    }
		h3{
			@include arialbold();
			margin: 0;
			padding-top: 45px;
			@include textazul();
		}
		@media only screen and (max-width: 640px) {
	    	h3{
	    	 font-size: 1rem;	
	    	}
	    	.over{
	    	position: relative!important;
	    	}
	    }
		.over{
		padding: 1% 6%;
		  border-bottom: 5px solid #4BC57A;
		bottom: 0;
	    position: absolute;
	    background: rgba(52, 59, 69, 0.65);
	    width: 100%;
	    ul {
	    	h3{
	    	@include arialbold();
	    	color:white;
	    	}
	    	.check{
	    		padding-left:0!important;
             	padding: 0 7px 4px 5px;
			    width: 25px;
	    	}
	    	li{
	    	padding-top: 15px;
		    	h5{
	            @include arialregular();
		    	color:white;
		    	}
		    	.sub{
		    	padding-left:20px;
		    	padding-right:20px;
		    	text-align: left;
		    	@include arialregular();
		    	   font-size: 0.9rem;	
		    	}
		    	@media only screen and (max-width: 640px) {
		    	h5{
		    	 font-size: .9rem;	
		    	}
	            }
	    	}
	    }
		}
    }
	section:nth-of-type(3){
	background: url(http://www.simetrical.com/wp-content/themes/Divi/simetrical_qualium/assets/fondobuzonanonimo.jpg);
	@include seccionfrases();
	}
	section:nth-of-type(4){
	text-align: center;
    height: auto;
    padding: 50px 8%;
	h3{
	@include arialbold();
	@include textazul();
	}
	#titulo{
		@include arialbold();
		color: #513C81;
	}
	.subtitulo{
	margin-bottom: 40px;
	@include arialregular();
	color:#697780;	
	}
	@media only screen and (max-width: 640px) {
	    h3{
	    font-size: 1rem;	
	    }	
	    h4{
	    	 font-size: .9rem;	
	    }	
	}
	ul{ 
	margin-top: 2%!important;
	margin: 0;	
		li img{
		margin-bottom: 10px;
		border-radius: 100%;
        width: 70%;
        height: 100%;
        border:3px solid #513C81;
		}
	}
    }
	section:nth-of-type(5){
	    @include form();
	}
}
//buzon_anonimo
// database
.database{
	section{
	position:relative;
	height:100vh;
	}
	section:nth-of-type(1){
	background:url(imgs_cambios_2016/fondo_database.jpg);
	@include primeraseccion();
	}
	section:nth-of-type(2){
	  margin-top: 5%;	
      position: relative;
      height: 100%;
      background: white;
      text-align: center;
      #owl-ipad .item img{
	    display: block;
	    width: 100%;
	    height: auto;
		}
	@include ipad_responsivo();
	.imagen{
		 @media only screen and (min-width: 1400px) {
	       width: 1200px; 	
		 }
	}
	.check{
   	padding-right: 5px;
    padding-bottom: 3px;
    }
        h3{
           padding-bottom: 20px;
           text-transform: uppercase;
          @include textazul();
           @include arialbold();
        }
	      h5{
	      text-align: left;
	      padding-right:20px;
	      padding-left:20px;
	      @include arialregular();
	      margin-bottom: 0rem;
	      @include textgris();	
	      }
	      h6{
	      padding-right:20px;
	      padding-left:20px;
	      	text-align: left;
	      	@include arialregular();
	      	font-size: 0.9rem;
	      	color:#666666;
	      	line-height: 2;
	      }
	      	@media only screen and (max-width: 640px) {
           h3{
           	@include textazul();
           	@include arialbold();
           	font-size: 0.9rem;
			}			
         }	
	      ul{
	      	margin: 10px 2%;
	      	@media only screen and (max-width: 800px) {
	      	margin: 10px 1.5%;	
	      	}
	      	li {
                .image {
	      		width: 25%;
	      	   }
	      	 }
	      }
	      .showimage{
	      	height: 100%;
	      	width: 75%;
	      }
	}
	section:nth-of-type(3){
	background: url(http://www.simetrical.com/wp-content/themes/Divi/simetrical_qualium/assets/imgs_cambios_2016/business.jpg);
	@include seccionfrases();
	}
	section:nth-of-type(4){
	text-align: center;
    height: auto;
    padding: 50px 8%;
	h3{
	@include arialbold();
	@include textazul();
	}
	@media only screen and (min-width: 640px) {	
		.texto2{
			text-align: -webkit-left;
			padding-top: 11%;
		}
	}
	#titulo{
		margin: 0;
		@include arialbold();
		color: #513C81;
	}
	#titulo2{
		margin: 0;
		@include ariallight();
		color: #343B45;
		font-weight: 800;
	}
	@media only screen and (max-width: 640px) {
	    h3{
	    font-size: 1rem;	
	    }	
	    h4{
	    font-size: 1.2rem;
	    }	
	}
	ul{ 
	margin-top: 2%!important;
	margin: 0;
	@media only screen and (min-width: 640px) {	
	text-align: right;
	}
		li img{
		border-radius: 100%;
        width: 70%;
        height: 100%;
        border:3px solid #513C81;
		}
	}
    }
	section:nth-of-type(5){
	    @include form();
	}
}
//database
// money_maker
.money_maker{
	section{
	position:relative;
	height:100vh;
	}
	section:nth-of-type(1){
	background:url(imgs_cambios_2016/money_maker.jpg);
	@include primeraseccion();
	}
	section:nth-of-type(2){
	  margin-top: 5%;	
      position: relative;
      height: 100%;
      background: white;
      text-align: center;
      #owl-ipad .item img{
	    display: block;
	    width: 100%;
	    height: auto;
		}
		#owl-ipad{
		 @media only screen and (min-width: 2510px) {
	       top:24.5%!important;	 	
		 }	
		 @media only screen and (min-width: 2080px) {
	       top:23.5%!important;	 	
		 }
	    @media only screen and (min-width: 1485px) {
	    top:15.5%;
	    width: 1000px;
	    }
		@media only screen and (max-width: 640px) {
		width: 68%;
	    top: 7.7%;
		}
		@media only screen and (max-width: 446px) {
	    top: 7.7%;
	  } 
	  -ms-transform: translateX(-51%);
	  -webkit-transform: translateX(-51%);
	  transform: translateX(-51%);
	   top: 16.5%;
	  left: 50%;
	  position: absolute;
	  height: 100%;
	  width: 67%;
	}
	.imagen{
		 @media only screen and (min-width: 1400px) {
	       width: 1200px; 	
		 }
	}
	.check{
   	padding-right: 5px;
    padding-bottom: 3px;
    }
        h3{
           padding-bottom: 20px;
           text-transform: uppercase;
          @include textazul();
           @include arialbold();
        }
	      h5{
	      text-align: left;
	      padding-right:20px;
	      padding-left:20px;
	      @include arialregular();
	      margin-bottom: 0rem;
	      @include textgris();	
	      }
	      h6{
	      padding-right:20px;
	      padding-left:20px;
	      	text-align: left;
	      	@include arialregular();
	      	font-size: 0.9rem;
	      	color:#666666;
	      	line-height: 2;
	      }
	      	@media only screen and (max-width: 640px) {
           h3{
           	@include textazul();
           	@include arialbold();
           	font-size: 0.9rem;
			}			
         }	
	      ul{
	      	margin: 10px 2%;
	      	@media only screen and (max-width: 800px) {
	      	margin: 10px 1.5%;	
	      	}
	      	li {
                .image {
	      		width: 25%;
	      	   }
	      	 }
	      }
	      .showimage{
	      	height: 100%;
	      	width: 75%;
	      }
	}
	section:nth-of-type(3){
	background: url(http://www.simetrical.com/wp-content/themes/Divi/simetrical_qualium/assets/imgs_cambios_2016/edificio.jpg);
	@include seccionfrases();
	}
	section:nth-of-type(4){
	text-align: center;
    height: auto;
    padding: 50px 8%;
	h3{
	@include arialbold();
	@include textazul();
	}
	@media only screen and (min-width: 640px) {	
		.texto2{
			text-align: -webkit-left;
			padding-top: 11%;
		}
	}
	#titulo{
		margin: 0;
		@include arialbold();
		color: #513C81;
	}
	#titulo2{
		margin: 0;
		@include ariallight();
		color: #343B45;
		font-weight: 800;
	}
	@media only screen and (max-width: 640px) {
	    h3{
	    font-size: 1rem;	
	    }	
	    h4{
	    font-size: 1.2rem;
	    }	
	}
	ul{ 
	margin-top: 2%!important;
	margin: 0;
	@media only screen and (min-width: 640px) {	
	text-align: right;
	}
		li img{
		border-radius: 100%;
        width: 70%;
        height: 100%;
        border:3px solid #513C81;
		}
	}
    }
	section:nth-of-type(5){
	    @include form();
	}
}
//money_maker
//home
.productos{
	section{
	position:relative;height:100vh;
	}
	section:nth-of-type(1){
	background-size: cover!important;
    background-position: center center!important;
    @media only screen and (max-width: 800px) {
    background:url(seccion_uno.jpg);
    }
		video{
			position: absolute;
			top:0;
			bottom: 0;
			height: 100%;
			width: 100%;
			max-width: none;
		}
		height: 100vh;
		@include backgrounds();
		.fondo{
		display: none;
		}
		@media only screen and (max-width: 800px) {
		   video{
		   	display: none;
		   }

		   //background:url(seccion_uno.jpg);
		   height: 100%!important;
           h2{
           @include arialbold();
           font-size: 1.4rem!important;
           line-height: 25px!important;
           }		
        }
        @media only screen and (max-width: 800px) {
          h2{
          	font-size:17px!important;
          }	
        }
		h2,strong{
			@include arialbold();
		    line-height: 37px;
			color:#fff;
		}
		h6{
		font-size: 18px;
		@include arialregular();
		padding-right: 5px;
        padding-left: 5px;
		color:#fff;
		line-height: 17px;
		}
		@include arrow();
		@include line();
		.over{
		    text-align: center;
            padding: 15% 0;
			width:100%;
			height:100%;
			position:relative;
			background: rgba(10,10,10,0.51);
			// background: -moz-linear-gradient(top, rgba(10,10,10,0.51) 0%, rgba(39,87,230,0.51) 0%, rgba(10,10,10,0.51) 0%, rgba(122,77,148,1) 100%);
			// background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(10,10,10,0.51)), color-stop(0%, rgba(39,87,230,0.51)), color-stop(0%, rgba(10,10,10,0.51)), color-stop(100%, rgba(122,77,148,1)));
			// background: -webkit-linear-gradient(top, rgba(10,10,10,0.51) 0%, rgba(39,87,230,0.51) 0%, rgba(10,10,10,0.51) 0%, rgba(122,77,148,1) 100%);
			// background: -o-linear-gradient(top, rgba(10,10,10,0.51) 0%, rgba(39,87,230,0.51) 0%, rgba(10,10,10,0.51) 0%, rgba(122,77,148,1) 100%);
			// background: -ms-linear-gradient(top, rgba(10,10,10,0.51) 0%, rgba(39,87,230,0.51) 0%, rgba(10,10,10,0.51) 0%, rgba(122,77,148,1) 100%);
			// background: linear-gradient(to bottom, rgba(10,10,10,0.51) 0%, rgba(39,87,230,0.51) 0%, rgba(10,10,10,0.51) 0%, rgba(122,77,148,1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a0a0a', endColorstr='#7a4d94', GradientType=0 );
		    #container_text{
		    	padding: 3%;
		    	@media only screen and (min-width: 800px) {
		    	width: 85%;
			    position: absolute;
			    transform: translate(-50%, -50%);
			    -ms-transform: translate(-50%, -50%);
			    -webkit-transform:translate(-50%, -50%);
			    left: 50%;
			    top: 50%;		
                }	
			}
		}
	}
		section:nth-of-type(2){	
		padding-top: 4%;
		height:auto;
		text-align:center;
		padding-bottom: 50px;
	    h3{
	    	@include arialbold();
		    padding-right: 5px;
            padding-left: 5px;
			@include textazul();
		}	
		h6{
			@include arialregular();
		    padding-left: 5px;
		    @include textgris();
		    padding-right: 5px;
		}

		.Btn-Green{
			    @include arialbold();
		        margin-top: 2%;
		        margin-bottom: 3%;
	    		border-radius: 3px;
			    text-align: center;
			    background: #55D97E;
			    height: auto;
			    color: #FFFFFF;
			    position: relative;
			    font-size: 19px;
			    padding: 7px 9%;
		}
		#custumer{
		color:#513C81
		}
		.product{
			margin: 0 25%;
			display: none;
		}			
		.showpro{
		display: block;
		}
			@media only screen and (max-width: 800px) {
			.product{
			margin: 0 5%!important;
		    }
		     h3{
           	font-size: 1.3rem;
			}
			h6{
		     font-size: 1rem;
		 }	
		}
		@media only screen and (max-width: 640px) {
			.product{
			margin: 0 5%!important;
		    }	
           h3{
           	font-size: 1rem;
			}
			h6{
			padding: 0 20px;
		     font-size: 0.8rem;
		 }		
			}
		.showproduct{
			-webkit-animation-name: show;
	        animation-name: show;
	        -webkit-animation-duration: 1s;
		    animation-duration: 1s;
		    -webkit-animation-timing-function: ease;
		    animation-timing-function: ease;
		}
		@keyframes show{
        0%{
        opacity: 0;
        }
        100%{
        opacity: 1;
        }
		}
		.container_carru{
			z-index: 200;
			overflow: hidden;
		    height: 545px;
            position: relative;
            @media only screen and (max-width: 2150px) {
                height: 720px;
                }
                @media only screen and (max-width: 2000px) {
                height: 700px;
                }
                @media only screen and (max-width: 1900px) { 
                height: 650px;
                }
                @media only screen and (max-width: 1780px) { 
                height: 600px;
                }
                @media only screen and (max-width: 1680px) { 
                height: 520px;
                }
                @media only screen and (max-width: 1565px) { 
                height: 490px;
                }
                @media only screen and (max-width: 1430px) { 
                height: 460px;
                }
                @media only screen and (max-width: 1330px) { 
                height: 410px;
                }
                @media only screen and (max-width: 1230px){ 
	            height: 365px;
	            }
	            @media only screen and (max-width: 970px){ 
                height: 325px;
	            }
	            @media only screen and (max-width: 875px){ 
                height: 300px;
	            }
	            @media only screen and (max-width: 785px){ 
                height: 280px;
                }
                @media only screen and (max-width: 700px){ 
                height: 260px;
                }
	            @media only screen and (max-width: 640px){ 
                height: 170px;	            
				}	      
           .arrowrigth{
           	    z-index: 5;
			    transform: rotate(268deg);
			    -ms-transform: rotate(268deg);
			    -webkit-transform: rotate(268deg);
			    right: 0;
			    top: 50%;
			    width: 5%;
			    position: absolute;
           }
           .arrowleft{
           	    z-index: 5;
			    transform: rotate(90deg);
			    -ms-transform: rotate(90deg);
			    -webkit-transform: rotate(90deg);
			    left: 0;
			    top: 50%;
			    width: 5%;
			    position: absolute;
           }
           .img_left{
               opacity: .4;
		       height: 100%;
		       position: absolute;
		       z-index: 0;
		       -ms-transform: translateX(-100%) scale(0.9);
		       -webkit-transform: translateX(-100%) scale(0.9);
		       transform: translateX(-100%) scale(0.9);
		       display: block!important;
		       left: 50%;
           }
           .img_rigth {
                opacity: .4;
			    height: 100%;
			    position: absolute;
			    -ms-transform: translateX(0%) scale(0.9);
			    -webkit-transform: translateX(0%) scale(0.9);
			    transform: translateX(0%) scale(0.9);
			    z-index: 0;
			    display: block!important;
			    left: 50%;
			}
           .img_center{
                height: 100%;
			    position: absolute;
			    -ms-transform: translateX(-50%) scale(1);
			    -webkit-transform: translateX(-50%) scale(1);
			    transform: translateX(-50%) scale(1);
			    z-index: 90;
			    display: block!important;
			    left: 50%;
           }
	        .animaterigthR{
	        -webkit-animation-name: rigthR;
	        animation-name: rigthR;
	        -webkit-animation-duration: 1s;
		    animation-duration: 1s;
		    -webkit-animation-timing-function: ease;
		    animation-timing-function: ease;
	        }
			@keyframes rigthR {
			  @include rigthR();
			}
			@-webkit-keyframes rigthR {
			  @include rigthR();
			}
			.animaterigthL{
			-webkit-animation-name: rigthL;
		    -webkit-animation-duration: 1s;
		    -webkit-animation-timing-function: ease;
			animation-name: rigthL;
		    animation-duration: 1s;
		    animation-timing-function: ease;
			}
			@keyframes rigthL {
		      @include rigthL();
			}
			@-webkit-keyframes rigthL {
				@include rigthL();
			}
			.animaterigthC{			
			-webkit-animation-name: rigthC;
		    -webkit-animation-duration: 1s;
		    -webkit-animation-timing-function: ease;
	        animation-name: rigthC;
		    animation-duration: 1s;
		    animation-timing-function: ease;
	        }
			@keyframes rigthC{
			  @include rightC();
			}
	        @-webkit-keyframes rigthC{
			 @include rightC();	
			}
			/*lado izquierdo*/
			  .animateleftL{
			-webkit-animation-name: leftL;
		    -webkit-animation-duration: 1s;
		    -webkit-animation-timing-function: ease;
	        animation-name: leftL;
		    animation-duration: 1s;
		    animation-timing-function: ease;
	        }
			@keyframes leftL {
		      @include leftL();
			}
			@-webkit-keyframes leftL {
			 @include leftL();	
			}
			.animateleftR{
			-webkit-animation-name: leftR;
		    -webkit-animation-duration: 1s;
		    -webkit-animation-timing-function: ease;
			animation-name: leftR;
		    animation-duration: 1s;
		    animation-timing-function: ease;
			}
			@keyframes leftR {
			 @include LeftR();
			}
			@-webkit-keyframes leftR {
			 @include LeftR();
			}
			.animateleftC{
			-webkit-animation-name: leftC;
		    -webkit-animation-duration: 1s;
		    -webkit-animation-timing-function: ease;
	        animation-name: leftC;
		    animation-duration: 1s;
		    animation-timing-function: ease;
	        }
			
			@-webkit-keyframes leftC{
			 @include leftC();	
			}
			@keyframes leftC{
			 @include leftC();
			}
			#item{
				display: none;
			}
        }
}
	section:nth-of-type(3){
	.item{
		background-repeat: no-repeat;
		background-size: cover!important;
		background-position:center center;
	}
	@include seccionfrases();
	}
	section:nth-of-type(4){
		padding-bottom: 25px;
	    background:#343B45;
		height:auto;
		text-align:center;
		h3{
		@include arialbold();
		margin-top: 0;
		padding-top: 3%;
	    padding-bottom: 3%;
		@media only screen and (max-width: 840px) {
	    padding-top: 5%;
	    padding-bottom: 5%;
		}
	    color: #FFFFFF;
		}
		@media only screen and (max-width: 640px) {
           h3{
           	font-size: .8rem;
			}
		}
		ul{
		margin: 0 9% !important;
			li{
			@media only screen and (min-width: 640px){ 
				margin-bottom: 25px;
			}
				img#logo_clientes1 {
			    height: 65px;
				    @media only screen and (max-width: 640px){ 
						height: 50px;
			        }
			    }
			    img#logo_clientes2 {
			    height: 40px;
				    @media only screen and (max-width: 640px){ 
						height: 35px;
			        }
			    }
			    img#logo_clientes3 {
			    height: 80px;
			    	@media only screen and (max-width: 640px){ 
						height: 50px;
			        }
		    	}
			}
		}		
	}
	section:nth-of-type(5){
	@include form();   
	}
}
