body{margin:0;}
#top-menu{
	margin: 0!important;
}
#et-top-navigation{
font-family: 'BMWRg', Arial, sans-serif;
}
@mixin line(){
	.line{
		     margin: 20px auto 20px auto;
		    display: block;
		    height: .9px;
		    width: 170px;
		    background: #FFFFFF;
		    position: relative;
		}
}
@mixin gothambook(){
	font-family: gotham_bookregular;
}
@mixin gothamHtfbold(){
	font-family:gotham_htfbold;
}
@mixin gothamHtfXligth(){
	font-family:gotham_htfxlight;
}
@mixin gothamHtfligth(){
	font-family:gotham_htflight;
}
@mixin gothamhtfmedium(){
	font-family: gotham_htfmedium;
}
@mixin formSecuno(){
	form{
			    margin-top: 5%!important;
				input{
				@include gothamHtfligth();
				-webkit-appearance: none;
				width: 59%;
			    height: 36px;
			    border-top-left-radius: 4px;
			    border-bottom-left-radius: 3px;
			    float: left;
				}
				input[type="submit"]{
					margin-top: 0px!important;
					@include gothamHtfbold();
				    background: #4BC57A;
				    border: none;
				    color: #FFFFFF;
				    float: left;
				    width: 37%;
				    border-top-left-radius: 0;
				    border-bottom-left-radius: 0;
				    border-top-right-radius: 3px;
				    border-bottom-right-radius: 3px;
				}
		    }
}
@mixin arrow(){
.arrow{
		-webkit-animation-duration: 1.2s;
	    -moz-animation-duration: 1.2s;
	    animation-duration: 1.2s;
	    -webkit-animation-fill-mode: both;
	    -moz-animation-fill-mode: both;
	    animation-fill-mode: both;
	    -webkit-animation-iteration-count: infinite;
	    animation-iteration-count: infinite;
	    -webkit-animation-name: bounce;
	    animation-name: bounce;
	    cursor: pointer;
	    transform: translateX(-50%);
	    position: absolute;
	    bottom: 2%;
	    height: 20px;
}
	@-webkit-keyframes bounce {
	  0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(-50%);
	  transform: translateY(-50%);}
	  40% {-webkit-transform: translateY(-60%);
	  transform: translateY(-60%);}
	  60% {-webkit-transform: translateY(-40%);
	  transform: translateY(-40%);}
	}

	@keyframes bounce {
	  0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(-50%);
	  	transform: translateY(-50%);}
	  40% {-webkit-transform: translateY(-70%);
	  	transform: translateY(-70%);}
	  60% {-webkit-transform: translateY(-40%);
	  	transform: translateY(-40%);}
	}
}

@mixin backgrounds(){
	background-repeat:no-repeat;
	background-size:cover;
	background-attachment:fixed;
}
@mixin textazul(){
color:#343B45;	
}
@mixin textgris(){
color:#69778C;	
}
@mixin form(){
padding-bottom: 3%;
background:#E4EAF0;
height: 100%;
text-align:center;
		h3{
		@include gothamHtfbold();
		margin-top: 0;
		padding-top: 4%;
		color:#343B45;
		}
		h6{
		@include gothambook();
		color:#69778C;
		}
		h6.sub {
		    font-size: 62%;
		}
		@media only screen and (max-width: 640px) {
           h3{
           	font-size: 1rem;
			}
			h6.sub {
		    font-size: 62%;
		    padding: 0 9%;
		    }	
		}
		fieldset{
    	margin-bottom: 0;
	    border: none;
	    padding: 0rem;
		}
		.ajax-loader{
		display: none;
		}
		@media only screen and (max-width: 640px) {
	    	.sendform{
	    		font-size:  110%!important;
	    	}
	    }
		.sendform{
		    @include gothamHtfbold();
			-webkit-appearance: none!important;
		    width: 100%!important;
		    //margin-bottom: 3%!important;
		    border-radius: 3px!important;
		    text-align: center;
		    background: #55D97E!important;
		    height: 33px!important;
		    color: #FFFFFF;
		    position: relative!important;
		    font-size: 21px;
		    border: none!important;
		}		
		input{
			 @include gothambook();
		     color:#999999;
		     height: 31px;
             border-radius: 4px;
		}
		input::-webkit-input-placeholder {
		   color:#999999;
		}

		input:-moz-placeholder { /* Firefox 18- */
		   color:#999999;  
		}

		input::-moz-placeholder {  /* Firefox 19+ */
		   color:#999999;  
		}

		input:-ms-input-placeholder {  
		   color:#999999;  
		}
}
@mixin rigthR(){
0% {
			    opacity: 1;    
			    -ms-transform: translateX(-50%) scale(1);
			    -webkit-transform: translateX(-50%) scale(1);
			    transform: translateX(-50%) scale(1);
			    z-index: 90;
			  }
             30%{
                opacity:1;		            
			    -ms-transform: translateX(10%) scale(0.94);
			    -webkit-transform: translateX(10%) scale(0.94);
			    transform: translateX(10%) scale(0.94);
			    z-index: 50;
            }
			100% {
				opacity: .4;
				-ms-transform: translateX(0%) scale(0.9);
				-webkit-transform: translateX(0%) scale(0.9);
				transform: translateX(0%) scale(0.9);
				z-index: 0;
			}	
}
@mixin rigthL(){
	0% {
			    opacity: .4;
			    -ms-transform: translateX(0%) scale(0.9);
			    -webkit-transform: translateX(0%) scale(0.9);
			    transform: translateX(0%) scale(0.9);
			    z-index: 0;
			}
			100% {
			   opacity: .4;
		       z-index: 0;
		       -ms-transform: translateX(-100%) scale(0.9);
		       -webkit-transform: translateX(-100%) scale(0.9);
		       transform: translateX(-100%) scale(0.9);
			}
}
@mixin rightC(){
	0% {
			   opacity: .4;
		       z-index: 0;
		       -ms-transform: translateX(-100%) scale(0.9);
		       -webkit-transform: translateX(-100%) scale(0.9);
		       transform: translateX(-100%) scale(0.9);
			}
            20%{
               opacity:1;	
		       z-index: 0;
		       -ms-transform: translateX(-110%) scale(0.94);
		       -webkit-transform: translateX(-110%) scale(0.94);
		       transform: translateX(-110%) scale(0.94);
		       z-index: 50;
            }
			100% {
			    -ms-transform: translateX(-50%);
			    -webkit-transform: translateX(-50%);
			    transform: translateX(-50%);
			    z-index: 90;
			}
}
@mixin leftL(){
	0% {
			    opacity: 1;    
			    -ms-transform: translateX(-50%) scale(1);
			    -webkit-transform: translateX(-50%) scale(1);
			    transform: translateX(-50%) scale(1);
			    z-index: 90;
			}
             30%{		
               opacity: 1;
		       z-index: 0;
		       -ms-transform: translateX(-110%) scale(0.94);
		       -webkit-transform: translateX(-110%) scale(0.94);
		       transform: translateX(-110%) scale(0.94);
		       z-index: 50;
            }
			100% {
			   opacity: .4;
		       z-index: 0;
		       -ms-transform: translateX(-100%) scale(0.9);
		       -webkit-transform: translateX(-100%) scale(0.9);
		       transform: translateX(-100%) scale(0.9);
			}
}
@mixin LeftR(){
	0% {
			   opacity: .4;
		       z-index: 0;
		       -ms-transform: translateX(-100%) scale(0.9);
		       -webkit-transform: translateX(-100%) scale(0.9);
		       transform: translateX(-100%) scale(0.9);
			}
			100% {
			   opacity: .4;
			   -ms-transform: translateX(0%) scale(0.9);
			   -webkit-transform: translateX(0%) scale(0.9);
			   transform: translateX(0%) scale(0.9);
			   z-index: 0;
			}
}
@mixin leftC(){
	0% {
			   opacity: .4;
			   -ms-transform: translateX(0%) scale(0.9);
			   -webkit-transform: translateX(0%) scale(0.9);
			   transform: translateX(0%) scale(0.9);
			   z-index: 0;
			}
            20%{		
		       opacity: 1;
			   -ms-transform: translateX(10%) scale(0.94);
			   -webkit-transform: translateX(10%) scale(0.94);
			   transform: translateX(10%) scale(0.94);
			   z-index: 0;
            }
			100% {
			    opacity: 1;
			    -ms-transform: translateX(-50%);
			    -webkit-transform: translateX(-50%);
			    transform: translateX(-50%);
			    z-index: 90;
			}
}
//custumer pulse
.productosSeccion4{
	section{
	position:relative;
	height:100vh;
	}
	section:nth-of-type(1){
		height: 90vh;
		background:url(seccion4.png);
		@include backgrounds();
		@media only screen and (max-width: 800px) {
		   height: 86.2vh;
           h2{
           @include gothamHtfbold();
           font-size: 1.4rem!important;
           line-height: 25px!important;
           }
           	h6{
		    		font-size: .8rem!important;
		    	}			
        }
        @media only screen and (max-width: 800px) {
        height: 70vh;
          h2{
          	font-size:17px!important;
          }	
        }
		h2{
			@include gothamHtfbold();
		    line-height: 37px;
			color:#fff;
			span{
				@include gothamHtfXligth();
			}	
		}
		h6{
		@include gothambook();
		padding-right: 5px;
        padding-left: 5px;
		color:#fff;
		line-height: 17px;
		}

		@include arrow();
		@include line();
		.over{
		    text-align: center;
            padding: 15% 0;
			width:100%;
			height:100%;
			position:relative;
			background: rgba(10,10,10,0.51);
			background: -moz-linear-gradient(top, rgba(10,10,10,0.51) 0%, rgba(39,87,230,0.51) 0%, rgba(10,10,10,0.51) 0%, rgba(122,77,148,1) 100%);
			background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(10,10,10,0.51)), color-stop(0%, rgba(39,87,230,0.51)), color-stop(0%, rgba(10,10,10,0.51)), color-stop(100%, rgba(122,77,148,1)));
			background: -webkit-linear-gradient(top, rgba(10,10,10,0.51) 0%, rgba(39,87,230,0.51) 0%, rgba(10,10,10,0.51) 0%, rgba(122,77,148,1) 100%);
			background: -o-linear-gradient(top, rgba(10,10,10,0.51) 0%, rgba(39,87,230,0.51) 0%, rgba(10,10,10,0.51) 0%, rgba(122,77,148,1) 100%);
			background: -ms-linear-gradient(top, rgba(10,10,10,0.51) 0%, rgba(39,87,230,0.51) 0%, rgba(10,10,10,0.51) 0%, rgba(122,77,148,1) 100%);
			background: linear-gradient(to bottom, rgba(10,10,10,0.51) 0%, rgba(39,87,230,0.51) 0%, rgba(10,10,10,0.51) 0%, rgba(122,77,148,1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a0a0a', endColorstr='#7a4d94', GradientType=0 );
		  	#container_text{
		    	padding: 3%;
		    	@media only screen and (min-width: 800px) {
		    	width: 85%;
			    position: absolute;
			    transform: translate(-50%, -50%);
			    -ms-transform: translate(-50%, -50%);
			    -webkit-transform:translate(-50%, -50%);
			    left: 50%;
			    top: 50%;		
                }	
			}
			@include formSecuno();
		}
	}
	section:nth-of-type(2){
    padding: 5% 0;
    padding-bottom: 0;
    text-align: center;
    height: auto;
    h3{
      @include gothamHtfbold();
      @include textazul();
    }
    @media only screen and (max-width: 800px) {
    	h3{
    		font-size: 1rem;
    	}
	    .over{
	    position: relative!important;
	    }
    }
    .over{
		padding: 1% 6%;
		bottom: 0;
	    position: absolute;
	    width: 100%;
	    ul{
	    	li h6{
	    	    @include gothamhtfmedium();
	    		@include textgris();
	    	}
	    	.sub{
	    	   @include gothambook();
	    	   font-size: 0.55rem;	
	    	}
	    	@media only screen and (max-width: 640px) {
		    	li h6{
		    	 font-size: .8rem;
		    	}
            }
	    }
	}
}
	section:nth-of-type(3){
     	    text-align: center;
			height: auto;
		    background: url(seccion4_imagen4.jpg);
		    background-repeat: no-repeat;
		    background-size: cover;
		    background-position: center;
		    margin-top: 0%;
			
		.over{
			padding:8% 0;
			width:100%;
			height:100%;
			position:relative;
			background: rgba(74,57,107,0.91);
			background: -moz-linear-gradient(left, rgba(74,57,107,0.91) 0%, rgba(34,60,79,0.91) 0%, rgba(101,224,105,0.91) 0%, rgba(111,174,113,0.91) 49%, rgba(122,122,122,0.51) 100%);
			background: -webkit-gradient(left top, right top, color-stop(0%, rgba(74,57,107,0.91)), color-stop(0%, rgba(34,60,79,0.91)), color-stop(0%, rgba(101,224,105,0.91)), color-stop(49%, rgba(111,174,113,0.91)), color-stop(100%, rgba(122,122,122,0.51)));
			background: -webkit-linear-gradient(left, rgba(74,57,107,0.91) 0%, rgba(34,60,79,0.91) 0%, rgba(101,224,105,0.91) 0%, rgba(111,174,113,0.91) 49%, rgba(122,122,122,0.51) 100%);
			background: -o-linear-gradient(left, rgba(74,57,107,0.91) 0%, rgba(34,60,79,0.91) 0%, rgba(101,224,105,0.91) 0%, rgba(111,174,113,0.91) 49%, rgba(122,122,122,0.51) 100%);
			background: -ms-linear-gradient(left, rgba(74,57,107,0.91) 0%, rgba(34,60,79,0.91) 0%, rgba(101,224,105,0.91) 0%, rgba(111,174,113,0.91) 49%, rgba(122,122,122,0.51) 100%);
			background: linear-gradient(to right, rgba(74,57,107,0.91) 0%, rgba(34,60,79,0.91) 0%, rgba(101,224,105,0.91) 0%, rgba(111,174,113,0.91) 49%, rgba(122,122,122,0.51) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4a396b', endColorstr='#7a7a7a', GradientType=1 );
			    h3{
			    @include gothamHtfXligth();
				color:#fff;
				}
				h4{
					@include gothamHtfbold();
					color:#fff;
					margin-left: 22%;
		    		text-align: center;
				}
				@media only screen and (max-width: 640px) {
			      	h3{
			         font-size: 0.8rem;
				  	}
				 	 h4{
			     	    font-size: 0.6rem;
				  	}			
		     	}			
			}
	}
	section:nth-of-type(4){
	text-align: center;
    height: auto;
    padding: 50px 8%;
	h3{
	@include gothamHtfbold();
	@include textazul();
	}
	@media only screen and (max-width: 640px) {
	    h3{
	    font-size: 1rem;	
	    }		
	}
	ul{ 
	margin-top: 2%!important;
	margin: 0;	
		li img{
		border-radius: 100%;
        width: 50%;
        height: 100%;
        border:3px solid #513C81;
		}
	}
    }
    section:nth-of-type(5){
	@include form();   
	}
}
//evaluacion 360
.productosSeccion3{
	section{
	position:relative;
	height:100vh;
	}
	section:nth-of-type(1){
		height: 90vh;
		background:url(seccion3.jpg);
		@include backgrounds();
		@media only screen and (max-width: 800px) {
		   height: 86.2vh;
           h2{
           @include gothamHtfbold();
           font-size: 1.4rem!important;
           line-height: 25px!important;
           }
           	h6{
		    		font-size: .8rem!important;
		    	}			
        }
        @media only screen and (max-width: 800px) {
        height: 70vh;
          h2{
          	font-size:17px!important;
          }	
        }
		h2{
			@include gothamHtfbold();
		    line-height: 37px;
			color:#fff;
			span{
			@include gothamHtfXligth();
			}
		}
		h6{
		@include gothambook();
		padding-right: 5px;
        padding-left: 5px;
		color:#fff;
		line-height: 17px;
		}
		@include arrow();
		@include line();
		.over{
		    text-align: center;
            padding: 15% 0;
			width:100%;
			height:100%;
			position:relative;
			background: rgba(10,10,10,0.51);
			background: -moz-linear-gradient(top, rgba(10,10,10,0.51) 0%, rgba(39,87,230,0.51) 0%, rgba(10,10,10,0.51) 0%, rgba(122,77,148,1) 100%);
			background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(10,10,10,0.51)), color-stop(0%, rgba(39,87,230,0.51)), color-stop(0%, rgba(10,10,10,0.51)), color-stop(100%, rgba(122,77,148,1)));
			background: -webkit-linear-gradient(top, rgba(10,10,10,0.51) 0%, rgba(39,87,230,0.51) 0%, rgba(10,10,10,0.51) 0%, rgba(122,77,148,1) 100%);
			background: -o-linear-gradient(top, rgba(10,10,10,0.51) 0%, rgba(39,87,230,0.51) 0%, rgba(10,10,10,0.51) 0%, rgba(122,77,148,1) 100%);
			background: -ms-linear-gradient(top, rgba(10,10,10,0.51) 0%, rgba(39,87,230,0.51) 0%, rgba(10,10,10,0.51) 0%, rgba(122,77,148,1) 100%);
			background: linear-gradient(to bottom, rgba(10,10,10,0.51) 0%, rgba(39,87,230,0.51) 0%, rgba(10,10,10,0.51) 0%, rgba(122,77,148,1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a0a0a', endColorstr='#7a4d94', GradientType=0 );
		  	#container_text{
		    	padding: 3%;
		    	@media only screen and (min-width: 800px) {
		    	width: 85%;
			    position: absolute;
			    transform: translate(-50%, -50%);
			    -ms-transform: translate(-50%, -50%);
			    -webkit-transform:translate(-50%, -50%);
			    left: 50%;
			    top: 50%;		
                }	
			}
			@include formSecuno();
		}
	}
	section:nth-of-type(2){
	@media only screen and (max-width: 640px) {
	height: auto!important;
	}
	text-align: center;
	background: url(seccion3_imagen1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
		h3{
			@include gothamHtfbold();
			margin: 0;
			padding-top: 5%;
			@include textazul();
		}
		@media only screen and (max-width: 640px) {
	    	h3{
	    	 font-size: 1rem;	
	    	}
	    	.over{
	    	position: relative!important;
	    	}
	    }
		.over{
		padding: 1% 6%;
		  border-bottom: 5px solid #4BC57A;
		bottom: 0;
	    position: absolute;
	    background: rgba(52, 59, 69, 0.65);
	    width: 100%;
	    ul{
	    	h3{
	    	@include gothamHtfbold();
	    	color:white;
	    	}
	    	li h6{
            @include gothamhtfmedium();
	    	color:white;
	    	}
	    	.sub{
	    	@include gothambook();
	    	   font-size: 0.6rem;	
	    	}
	    	@media only screen and (max-width: 640px) {
	    	li h6{
	    	 font-size: .8rem;	
	    	}
            }
	    }
		}
    }
    section:nth-of-type(3){
    	padding: 5% 0;
    	text-align: center;
    	height: auto;
    	background: #513C81;
       h4{
        @include gothamHtfbold();
       	margin-bottom: 3%!important;
       	color:white;
       	margin: 0;
       }
       ul{
       	margin: 0;
       	margin-left: 30%!important;
       	  li{
       	  	@include gothamHtfligth();
       	  	color:white;
       	  	text-align: left;
	       	  	img{
				    padding: 0 7px 4px 5px;
				    width: 25px;
	       	  	}
       	  }
       }
       @media only screen and (max-width: 640px) {
       ul{
       margin: 0;
       margin-left: 0%!important;
       }
    }
}
     section:nth-of-type(4){
     	    text-align: center;
			height: auto;
		    background: url(seccion3_imagen2.png);
		    background-repeat: no-repeat;
		    background-size: cover;
		    background-position: center;
		    margin-top: 0%;
		h2{
			@include gothamHtfXligth();
			color:#fff;
		}
		@media only screen and (max-width: 640px) {
           h2{
           	font-size: 0.8rem;
			}		
        }		
		.over{
			padding:8% 0;
			width:100%;
			height:100%;
			position:relative;
			background: rgba(74,57,107,0.91);
			background: -moz-linear-gradient(left, rgba(74,57,107,0.91) 0%, rgba(34,60,79,0.91) 0%, rgba(101,224,105,0.91) 0%, rgba(111,174,113,0.91) 49%, rgba(122,122,122,0.51) 100%);
			background: -webkit-gradient(left top, right top, color-stop(0%, rgba(74,57,107,0.91)), color-stop(0%, rgba(34,60,79,0.91)), color-stop(0%, rgba(101,224,105,0.91)), color-stop(49%, rgba(111,174,113,0.91)), color-stop(100%, rgba(122,122,122,0.51)));
			background: -webkit-linear-gradient(left, rgba(74,57,107,0.91) 0%, rgba(34,60,79,0.91) 0%, rgba(101,224,105,0.91) 0%, rgba(111,174,113,0.91) 49%, rgba(122,122,122,0.51) 100%);
			background: -o-linear-gradient(left, rgba(74,57,107,0.91) 0%, rgba(34,60,79,0.91) 0%, rgba(101,224,105,0.91) 0%, rgba(111,174,113,0.91) 49%, rgba(122,122,122,0.51) 100%);
			background: -ms-linear-gradient(left, rgba(74,57,107,0.91) 0%, rgba(34,60,79,0.91) 0%, rgba(101,224,105,0.91) 0%, rgba(111,174,113,0.91) 49%, rgba(122,122,122,0.51) 100%);
			background: linear-gradient(to right, rgba(74,57,107,0.91) 0%, rgba(34,60,79,0.91) 0%, rgba(101,224,105,0.91) 0%, rgba(111,174,113,0.91) 49%, rgba(122,122,122,0.51) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4a396b', endColorstr='#7a7a7a', GradientType=1 );
		}
	}
	section:nth-of-type(5){
		height: 100%;
		.image{
		padding-top: 2%!important;
		padding: 0;
		}
		.text{
		padding-top: 5%;	
		}
		h3{
			@include gothamHtfbold();
			color:#524187;
		}
		h6{
			@include gothambook();
			@include textgris();
		}
		@media only screen and (max-width: 640px) {
           h3{
           	font-size: .8rem;
			}	
			 h6{
           	font-size: 0.6rem;
			}		
        }
	}
	section:nth-of-type(6){
     @include form();
	}
}
// scorecord
.productosSeccion2{
	section{
	position:relative;
	height:100vh;
	}
	section:nth-of-type(1){
		height: 90vh;
		background:url(seccion1.jpg);
		@include backgrounds();
		@media only screen and (max-width: 800px) {
		   height: 86.2vh;
           h2{
           @include gothamHtfbold();
           font-size: 1.4rem!important;
           line-height: 25px!important;
	           span{
					@include gothamHtfXligth();
				}
           }
           	h6{
		    		font-size: .8rem!important;
		    	}			
        }
        @media only screen and (max-width: 800px) {
        height: 70vh;
          h2{
          	font-size:17px!important;
          }	
        }
		h2{
			@include gothamHtfbold();
		    line-height: 37px;
			color:#fff;
			span{
				@include gothamHtfXligth();
			}
		}
		h6{
		@include gothambook();
		padding-right: 5px;
        padding-left: 5px;
		color:#fff;
		line-height: 17px;
		}
		@include arrow();
		@include line();
		.over{
		    text-align: center;
            padding: 15% 0;
			width:100%;
			height:100%;
			position:relative;
			background: rgba(10,10,10,0.51);
			background: -moz-linear-gradient(top, rgba(10,10,10,0.51) 0%, rgba(39,87,230,0.51) 0%, rgba(10,10,10,0.51) 0%, rgba(122,77,148,1) 100%);
			background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(10,10,10,0.51)), color-stop(0%, rgba(39,87,230,0.51)), color-stop(0%, rgba(10,10,10,0.51)), color-stop(100%, rgba(122,77,148,1)));
			background: -webkit-linear-gradient(top, rgba(10,10,10,0.51) 0%, rgba(39,87,230,0.51) 0%, rgba(10,10,10,0.51) 0%, rgba(122,77,148,1) 100%);
			background: -o-linear-gradient(top, rgba(10,10,10,0.51) 0%, rgba(39,87,230,0.51) 0%, rgba(10,10,10,0.51) 0%, rgba(122,77,148,1) 100%);
			background: -ms-linear-gradient(top, rgba(10,10,10,0.51) 0%, rgba(39,87,230,0.51) 0%, rgba(10,10,10,0.51) 0%, rgba(122,77,148,1) 100%);
			background: linear-gradient(to bottom, rgba(10,10,10,0.51) 0%, rgba(39,87,230,0.51) 0%, rgba(10,10,10,0.51) 0%, rgba(122,77,148,1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a0a0a', endColorstr='#7a4d94', GradientType=0 );
		  	#container_text{
		    	padding: 3%;
		    	@media only screen and (min-width: 800px) {
		    	width: 85%;
			    position: absolute;
			    transform: translate(-50%, -50%);
			    -ms-transform: translate(-50%, -50%);
			    -webkit-transform:translate(-50%, -50%);
			    left: 50%;
			    top: 50%;		
                }	
			}
			@include formSecuno();
		}
	}
	section:nth-of-type(2){
	  margin-top: 5%;	
      position: relative;
      height: 100%;
      background: white;
      text-align: center;
          h3{
          @include textazul();
           @include gothamHtfbold();
          }
	      h5{
	      @include gothamhtfmedium();
	      margin-bottom: 0rem;
	      @include textgris();	
	      }
	      h6{
	      	@include gothambook();
	      	font-size: 0.7rem;
	      	color:#666666;
	      	line-height: 2;
	      }
	      	@media only screen and (max-width: 640px) {
           h3{
           	@include textazul();
           	@include gothamHtfbold();
           	font-size: 0.9rem;
			}			
         }	
	      ul{
	      	margin: 0 10%;
	      	@media only screen and (max-width: 800px) {
	      	margin: 0 1.5%;	
	      	}
	      	li {
                .image {
	      		width: 25%;
	      	   }
	      	 }
	      }
	      .showimage{
	      	height: 100%;
	      	width: 75%;
	      }
	}
	section:nth-of-type(3){
		    text-align: center;
			height: auto;
			background-color:#513C81; 
		    margin-top: 0%;
		    padding: 3% 0;
		h3{
			@include gothamHtfXligth();
			color:#FFFFFF;
		}
		h4{
			@include gothamHtfbold();
			color:#FFFFFF;
    		text-align: center;
		}
		@media only screen and (max-width: 640px) {
           h3{
           	font-size: 1rem;
			}
			h4{
            font-size: .8rem;
			}			
        }	
		.owl-dot.active span, .owl-dot:hover span {
			background: #55D97E;
		}	
		@media only screen and (max-width: 640px) {
           h3{
           	font-size: .8rem;
			}
			h4{
            font-size: .6rem;
			}		
        }	
    }
	section:nth-of-type(4){
		height: 100%;
	    text-align: center;
	    margin-top: 5%;
	    margin-bottom: 25px;
		 h4{
		  @include gothamHtfbold();
		  line-height: 90%;
	      color:#343B45;
	      }
	      h3{
	      @include gothamHtfbold();
	      color:#513C81;
	      }
	      h6{
	      @include gothambook();
	      padding-bottom: 3%;
	      @include textgris();
	      }
	      @media only screen and (max-width: 640px) {
	      h4{
	      	line-height: 100%;
            font-size: 1rem;
			}
		  h3{
		  font-size: 0.9rem;
		  }	
           h6{
           	padding: 0 7px;
           	font-size: .8rem;
			}	
          }	
	      ul{
	      margin: 0 12%;
	      	li{
	      	   img{
	      	   	width: 65%;
	      	   }	
	      	}
	      }
	}
	section:nth-of-type(5){
	    @include form();
	}
}
//home
.productos{
	section{
	position:relative;height:100vh;
	}
	section:nth-of-type(1){
		height: 90vh;
		background:url(seccion_uno.jpg);
		@include backgrounds();
		@media only screen and (max-width: 800px) {
		   height: 86.2vh;
           h2{
           @include gothamHtfbold();
           font-size: 1.4rem!important;
           line-height: 25px!important;
           }
           h6{
           	font-size: .8rem;
           }			
        }
        @media only screen and (max-width: 800px) {
        height: 70vh;
          h2{
          	font-size:17px!important;
          }	
        }
		h2,strong{
			@include gothamHtfbold();
		    line-height: 37px;
			color:#fff;
		}
		h6{
		@include gothambook();
		padding-right: 5px;
        padding-left: 5px;
		color:#fff;
		line-height: 17px;
		}
		@include arrow();
		@include line();
		.over{
		    text-align: center;
            padding: 15% 0;
			width:100%;
			height:100%;
			position:relative;
			background: rgba(10,10,10,0.51);
			background: -moz-linear-gradient(top, rgba(10,10,10,0.51) 0%, rgba(39,87,230,0.51) 0%, rgba(10,10,10,0.51) 0%, rgba(122,77,148,1) 100%);
			background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(10,10,10,0.51)), color-stop(0%, rgba(39,87,230,0.51)), color-stop(0%, rgba(10,10,10,0.51)), color-stop(100%, rgba(122,77,148,1)));
			background: -webkit-linear-gradient(top, rgba(10,10,10,0.51) 0%, rgba(39,87,230,0.51) 0%, rgba(10,10,10,0.51) 0%, rgba(122,77,148,1) 100%);
			background: -o-linear-gradient(top, rgba(10,10,10,0.51) 0%, rgba(39,87,230,0.51) 0%, rgba(10,10,10,0.51) 0%, rgba(122,77,148,1) 100%);
			background: -ms-linear-gradient(top, rgba(10,10,10,0.51) 0%, rgba(39,87,230,0.51) 0%, rgba(10,10,10,0.51) 0%, rgba(122,77,148,1) 100%);
			background: linear-gradient(to bottom, rgba(10,10,10,0.51) 0%, rgba(39,87,230,0.51) 0%, rgba(10,10,10,0.51) 0%, rgba(122,77,148,1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a0a0a', endColorstr='#7a4d94', GradientType=0 );
		    #container_text{
		    	padding: 3%;
		    	@media only screen and (min-width: 800px) {
		    	width: 85%;
			    position: absolute;
			    transform: translate(-50%, -50%);
			    -ms-transform: translate(-50%, -50%);
			    -webkit-transform:translate(-50%, -50%);
			    left: 50%;
			    top: 50%;		
                }	
			}
		}
	}
		section:nth-of-type(2){	
		padding-top: 4%;
		height:auto;
		text-align:center;
		padding-bottom: 50px;
	    h3{
	    	@include gothamHtfbold();
		    padding-right: 5px;
            padding-left: 5px;
			@include textazul();
		}	
		h6{
			@include gothambook();
		    padding-left: 5px;
		    @include textgris();
		    padding-right: 5px;
		}
		@media only screen and (max-width: 640px) {
           h3{
           	font-size: 1rem;
			}
			h6{
		     font-size: 0.8
		 }		
			}
		.Btn-Green{
			    @include gothamHtfbold();
		        margin-top: 2%;
		        margin-bottom: 3%;
	    		border-radius: 3px;
			    text-align: center;
			    background: #55D97E;
			    height: auto;
			    color: #FFFFFF;
			    position: relative;
			    font-size: 19px;
			    padding: 7px 9%;
		}
		#custumer{

		color:#513C81
		}
		.container_carru{
			z-index: 200;
			overflow: hidden;
		    height: 545px;
            position: relative;
            @media only screen and (max-width: 2150px) {
                height: 720px;
                }
                @media only screen and (max-width: 2000px) {
                height: 700px;
                }
                @media only screen and (max-width: 1900px) { 
                height: 650px;
                }
                @media only screen and (max-width: 1780px) { 
                height: 600px;
                }
                @media only screen and (max-width: 1680px) { 
                height: 520px;
                }
                @media only screen and (max-width: 1565px) { 
                height: 490px;
                }
                @media only screen and (max-width: 1430px) { 
                height: 460px;
                }
                @media only screen and (max-width: 1330px) { 
                height: 430px;
                }
                @media only screen and (max-width: 1230px){ 
	            height: 400px;
	            }
	            @media only screen and (max-width: 970px){ 
                height: 370px;
	            }
	            @media only screen and (max-width: 875px){ 
                height: 345px;
	            }
	            @media only screen and (max-width: 785px){ 
                height: 310px;
                }
                @media only screen and (max-width: 700px){ 
                height: 290px;
                }
	            @media only screen and (max-width: 640px){ 
                height: 120px;	            
				}	      
           .arrowrigth{
           	    z-index: 150;
			    transform: rotate(268deg);
			    -ms-transform: rotate(268deg);
			    -webkit-transform: rotate(268deg);
			    right: 0;
			    top: 50%;
			    width: 5%;
			    position: absolute;
           }
           .arrowleft{
           	    z-index: 150;
			    transform: rotate(90deg);
			    -ms-transform: rotate(90deg);
			    -webkit-transform: rotate(90deg);
			    left: 0;
			    top: 50%;
			    width: 5%;
			    position: absolute;
           }
           .img_left{
               opacity: .4;
		       height: 100%;
		       position: absolute;
		       z-index: 0;
		       -ms-transform: translateX(-100%) scale(0.9);
		       -webkit-transform: translateX(-100%) scale(0.9);
		       transform: translateX(-100%) scale(0.9);
           }
           .img_rigth {
                opacity: .4;
			    height: 100%;
			    position: absolute;
			    -ms-transform: translateX(0%) scale(0.9);
			    -webkit-transform: translateX(0%) scale(0.9);
			    transform: translateX(0%) scale(0.9);
			    z-index: 0;
			}
           .img_center{
                height: 100%;
			    position: absolute;
			    -ms-transform: translateX(-50%) scale(1);
			    -webkit-transform: translateX(-50%) scale(1);
			    transform: translateX(-50%) scale(1);
			    z-index: 90;
           }
	        .animaterigthR{
	        -webkit-animation-name: rigthR;
	        animation-name: rigthR;
	        -webkit-animation-duration: 1s;
		    animation-duration: 1s;
		    -webkit-animation-timing-function: ease;
		    animation-timing-function: ease;
	        }
			@keyframes rigthR {
			  @include rigthR();
			}
			@-webkit-keyframes rigthR {
			  @include rigthR();
			}
			.animaterigthL{
			-webkit-animation-name: rigthL;
		    -webkit-animation-duration: 1s;
		    -webkit-animation-timing-function: ease;
			animation-name: rigthL;
		    animation-duration: 1s;
		    animation-timing-function: ease;
			}
			@keyframes rigthL {
		      @include rigthL();
			}
			@-webkit-keyframes rigthL {
				@include rigthL();
			}
			.animaterigthC{			
			-webkit-animation-name: rigthC;
		    -webkit-animation-duration: 1s;
		    -webkit-animation-timing-function: ease;
	        animation-name: rigthC;
		    animation-duration: 1s;
		    animation-timing-function: ease;
	        }
			@keyframes rigthC{
			  @include rightC();
			}
	        @-webkit-keyframes rigthC{
			 @include rightC();	
			}
			/*lado izquierdo*/
			  .animateleftL{
			-webkit-animation-name: leftL;
		    -webkit-animation-duration: 1s;
		    -webkit-animation-timing-function: ease;
	        animation-name: leftL;
		    animation-duration: 1s;
		    animation-timing-function: ease;
	        }
			@keyframes leftL {
		      @include leftL();
			}
			@-webkit-keyframes leftL {
			 @include leftL();	
			}
			.animateleftR{
			-webkit-animation-name: leftR;
		    -webkit-animation-duration: 1s;
		    -webkit-animation-timing-function: ease;
			animation-name: leftR;
		    animation-duration: 1s;
		    animation-timing-function: ease;
			}
			@keyframes leftR {
			 @include LeftR();
			}
			@-webkit-keyframes leftR {
			 @include LeftR();
			}
			.animateleftC{
			-webkit-animation-name: leftC;
		    -webkit-animation-duration: 1s;
		    -webkit-animation-timing-function: ease;
	        animation-name: leftC;
		    animation-duration: 1s;
		    animation-timing-function: ease;
	        }
			
			@-webkit-keyframes leftC{
			 @include leftC();	
			}
			@keyframes leftC{
			 @include leftC();
			}
        }
}
	section:nth-of-type(3){
			height: auto;
		    background: url(seccion2.jpg);
		    background-repeat: no-repeat;
		    background-size: cover;
		    background-position: center;
		    margin-top: 0%;
		h3{
			@include gothamHtfXligth();
			color:#fff;
		}
		h4{
			@include gothamHtfbold();
			color:#fff;
			margin-left: 22%;
    		text-align: center;
		}
		@media only screen and (max-width: 640px) {
           h3{
           	font-size: 0.8rem;
			}
			h4{
            font-size: 0.6rem;
			}			
        }		
		.over{
			padding:20px 0;
			width:100%;
			height:100%;
			position:relative;
			background: rgba(74,57,107,0.91);
			background: -moz-linear-gradient(left, rgba(74,57,107,0.91) 0%, rgba(34,60,79,0.91) 0%, rgba(101,224,105,0.91) 0%, rgba(111,174,113,0.91) 49%, rgba(122,122,122,0.51) 100%);
			background: -webkit-gradient(left top, right top, color-stop(0%, rgba(74,57,107,0.91)), color-stop(0%, rgba(34,60,79,0.91)), color-stop(0%, rgba(101,224,105,0.91)), color-stop(49%, rgba(111,174,113,0.91)), color-stop(100%, rgba(122,122,122,0.51)));
			background: -webkit-linear-gradient(left, rgba(74,57,107,0.91) 0%, rgba(34,60,79,0.91) 0%, rgba(101,224,105,0.91) 0%, rgba(111,174,113,0.91) 49%, rgba(122,122,122,0.51) 100%);
			background: -o-linear-gradient(left, rgba(74,57,107,0.91) 0%, rgba(34,60,79,0.91) 0%, rgba(101,224,105,0.91) 0%, rgba(111,174,113,0.91) 49%, rgba(122,122,122,0.51) 100%);
			background: -ms-linear-gradient(left, rgba(74,57,107,0.91) 0%, rgba(34,60,79,0.91) 0%, rgba(101,224,105,0.91) 0%, rgba(111,174,113,0.91) 49%, rgba(122,122,122,0.51) 100%);
			background: linear-gradient(to right, rgba(74,57,107,0.91) 0%, rgba(34,60,79,0.91) 0%, rgba(101,224,105,0.91) 0%, rgba(111,174,113,0.91) 49%, rgba(122,122,122,0.51) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4a396b', endColorstr='#7a7a7a', GradientType=1 );
		}
	}
	section:nth-of-type(4){
		padding-bottom: 25px;
	    background:#343B45;
		height:auto;
		text-align:center;
		h3{
		@include gothamHtfbold();
		margin-top: 0;
	    padding-top: 2%;
	    padding-bottom: 2%;
	    color: #FFFFFF;
		}
		@media only screen and (max-width: 640px) {
           h3{
           	font-size: 1rem;
			}
		}
		ul{
		margin: 0 9% !important;
			li img#logo_clientes {
		    height: 80px;
		    }
		    @media only screen and (max-width: 640px){ 
             li img#logo_clientes {
				  height: 50px;
				}
	        }
		}		
	}
	section:nth-of-type(5){
	@include form();   
	}
}
 